#jinja2: lstrip_blocks: "True"

<!-- {{ ansible_managed }} -->

<icecast>
    <!-- location and admin are two arbitrary strings that are e.g. visible
         on the server info page of the icecast web interface
         (server_version.xsl). -->
    <location>{{ icecast_location }}</location>
    <admin>{{ icecast_admin }}</admin>

    <!-- IMPORTANT!
         Especially for inexperienced users:
         Start out by ONLY changing all passwords and restarting Icecast.
         For detailed setup instructions please refer to the documentation.
         It's also available here: http://icecast.org/docs/
    -->

    <limits>
        <clients>{{ icecast_limits_clients }}</clients>
        <sources>{{ icecast_limits_sources }}</sources>
        <queue-size>{{ icecast_limits_queue_size }}</queue-size>
        <client-timeout>{{ icecast_limits_client_timeout }}</client-timeout>
        <header-timeout>{{ icecast_limits_header_timeout }}</header-timeout>
        <source-timeout>{{ icecast_limits_source_timeout }}</source-timeout>
        <!-- If enabled, this will provide a burst of data when a client 
             first connects, thereby significantly reducing the startup 
             time for listeners that do substantial buffering. However,
             it also significantly increases latency between the source
             client and listening client.  For low-latency setups, you
             might want to disable this. -->
        <burst-on-connect>{{ icecast_limits_burst_on_connect }}</burst-on-connect>
        <!-- same as burst-on-connect, but this allows for being more
             specific on how much to burst. Most people won't need to
             change from the default 64k. Applies to all mountpoints  -->
        <burst-size>{{ icecast_limits_burst_size }}</burst-size>
    </limits>

    <authentication>
        <!-- Sources log in with username 'source' -->
        <source-password>{{ icecast_auth_source_password }}</source-password>
        <!-- Relays log in with username 'relay' -->
        <relay-password>{{ icecast_auth_relay_password }}</relay-password>

        <!-- Admin logs in with the username given below -->
        <admin-user>{{ icecast_auth_admin_user }}</admin-user>
        <admin-password>{{ icecast_auth_admin_password }}</admin-password>
    </authentication>

    <!-- set the mountpoint for a shoutcast source to use, the default if not
         specified is /stream but you can change it here if an alternative is
         wanted or an extension is required
    <shoutcast-mount>/live.nsv</shoutcast-mount>
    -->

    <!-- Uncomment this if you want directory listings -->
    {% if icecast_directory is defined %}
    {% for dir in icecast_directory %}
    <directory>
        <yp-url-timeout>{{ dir.yp_url_timeout }}</yp-url-timeout>
        <yp-url>{{ dir.yp_url }}</yp-url>
    </directory>
    {% endfor %}
    {% endif  %}

    <!-- This is the hostname other people will use to connect to your server.
         It affects mainly the urls generated by Icecast for playlists and yp
         listings. You MUST configure it properly for YP listings to work!
    -->
    <hostname>{{ icecast_hostname }}</hostname>

    <!-- You may have multiple <listener> elements -->
    {% for socket in icecast_listen_sockets %}
    <listen-socket>
        <port>{{ socket.port }}</port>
      {% if 'bind_address' in socket %}
        <bind-address>{{ socket.bind_address}}</bind_address>
      {% endif %}
      {% if 'shoutcast_mount' in socket %}
        <shoutcast-mount>{{ socket.shoutcast_mount }}</shoutcast-mount>
      {% endif %}
      {% if 'ssl' in socket %}
        <ssl>{{ socket.ssl }}</ssl>
      {% endif %}
    </listen-socket>
    {% endfor %}

    <!-- Global header settings 
         Headers defined here will be returned for every HTTP request to Icecast.

         The ACAO header makes Icecast public content/API by default
         This will make streams easier embeddable (some HTML5 functionality needs it).
         Also it allows direct access to e.g. /status-json.xsl from other sites.
         If you don't want this, comment out the following line or read up on CORS. 
    -->
    <http-headers>
    {% for header in icecast_http_headers %}
        {{ header }}
    </http-headers>
    {% endfor %}


    <!-- Relaying
         You don't need this if you only have one server.
         Please refer to the config for a detailed explanation.
    -->
    {% if icecast_relaying_master_server is defined %}
    <master-server>{{ icecast_relaying_master_server }}</master-server>
    {% endif %}
    {% if icecast_relaying_master_server_port is defined %}
    <master-server-port>{{ icecast_relaying_master_server_port }}</master-server-port>
    {% endif %}
    {% if icecast_relaying_master_update_interval is defined %}
    <master-update-interval>{{ icecast_relaying_master_update_interval }}</master-update-interval>
    {% endif %}
    {% if icecast_relaying_master_password is defined %}
    <master-password>{{ icecast_relaying_master_password }}</master-password>
    {% endif %}

    <!-- setting this makes all relays on-demand unless overridden, this is
         useful for master relays which do not have <relay> definitions here.
         The default is 0 -->
    {% if icecast_relaying_master_relays_on_demand is defined %}
    <relays-on-demand>{{ icecast_relaying_master_relays_on_demand }}</relays-on-demand>
    {% endif %}

    {% if icecast_relays is defined %}
    {% for relay in icecast_relays %}
    <relay>
        <server>{{ relay.server }}</server>
        <port>{{ relay.port }}</port>
        <mount>{{ relay.mount }}</mount>
        <local-mount>{{ relay.local_mount }}</local-mount>
        <on-demand>{{ relay.on_demand }}</on-demand>
        <relay-shoutcast-metadata>{{ relay.relay_shoutcast_metadata }}</relay-shoutcast-metadata>
    </relay>
    {% endfor %}
    {% endif  %}

    <!-- Mountpoints
         Only define <mount> sections if you want to use advanced options,
         like alternative usernames or passwords
    -->

    <!-- Default settings for all mounts that don't have a specific <mount type="normal">.
    -->
    {% if icecast_mounts is defined %}
    {% for mount in icecast_mounts %}
    <mount type="{{ mount.mount_type }}">
      {% set _ = mount.pop("mount_type") %}
      {% for k,v in mount.items() %}
      {% if k == "auth" %}
        <authentication type="{{ v.type }}">
        {% set _ = v.pop("type") %}
        {% for k_auth,v_auth in v.items() %}
          {% if k_auth == "options"%}
            {% for k_opt in v_auth %}
            {{ k_opt }}
            {% endfor %}
          {% else %}
            <{{ k_auth|replace('_','-') }}>{{ v_auth }}</{{ k_auth|replace('_','-') }}>
          {% endif %}
        {% endfor %}
        </authentication>
      {% elif k == "http_headers" %}
        <http-headers>
        {% for header in v %}
            {{ header }}
        {% endfor %}
        </http-headers>
      {% else %}
        <{{ k|replace('_','-') }}>{{ v }}</{{ k|replace('_','-') }}>
      {% endif %}
      {% endfor %}
    </mount>
    {% endfor %}
    {% endif  %}

    <fileserve>{{ icecast_fileserve }}</fileserve>

    <paths>
        <!-- basedir is only used if chroot is enabled -->
        <basedir>{{ icecast_paths_basedir }}</basedir>

        <!-- Note that if <chroot> is turned on below, these paths must both
             be relative to the new root, not the original root -->
        <logdir>{{ icecast_paths_logdir }}</logdir>
        <webroot>{{ icecast_paths_webroot }}</webroot>
        <adminroot>{{ icecast_paths_adminroot }}</adminroot>
        {% if icecast_paths_pidfile is defined %}
        <pidfile>{{ icecast_paths.pidfile }}</pidfile>
        {% endif %}

        <!-- Aliases: treat requests for 'source' path as being for 'dest' path
             May be made specific to a port or bound address using the "port"
             and "bind-address" attributes.
          -->
        <!-- Aliases: can also be used for simple redirections as well,
             this example will redirect all requests for http://server:port/ to
             the status page
        -->
        {% for alias in icecast_paths_aliases %}
        <alias source="{{ alias.src }}" destination="{{ alias.dest }}"/>
        {% endfor %}

        <!-- The certificate file needs to contain both public and private part.
             Both should be PEM encoded.
        -->
        {% if icecast_paths_ssl_cert is defined %}
        <ssl-certificate>{{ icecast_paths_ssl_cert }}</ssl-certificate>
        {% endif %}
        {% if icecast_paths_allow_ip is defined %}
        <allow-ip>{{ icecast_paths_allow_ip }}</allow-ip>
        {% endif %}
        {% if icecast_paths_deny_ip is defined %}
        <deny-ip>{{ icecast_paths_deny_ip }}</deny-ip>
        {% endif %}
        {% if icecast_paths_ssl_allowed_ciphers is defined %}
        <ssl-allowed-ciphers>{{ icecast_paths_ssl_allowed_ciphers }}</ssl-allowed-ciphers>
        {% endif %}
    </paths>

    <logging>
        <accesslog>{{ icecast_logging_access_log }}</accesslog>
        <errorlog>{{ icecast_logging_error_log }}</errorlog>
        {% if icecast_logging_playlist_log is defined %}
        <playlistlog>{{ icecast_logging_playlist_log }}</playlistlog>
        {% endif %}
        <loglevel>{{ icecast_logging_loglevel }}</loglevel> <!-- 4 Debug, 3 Info, 2 Warn, 1 Error -->
        <logsize>{{ icecast_logging_logsize }}</logsize> <!-- Max size of a logfile -->
        <!-- If logarchive is enabled (1), then when logsize is reached
             the logfile will be moved to [error|access|playlist].log.DATESTAMP,
             otherwise it will be moved to [error|access|playlist].log.old.
             Default is non-archive mode (i.e. overwrite)
        -->
        <logarchive>{{ icecast_logging_logarchive }}</logarchive>
    </logging>

    <security>
        <chroot>{{ icecast_security_chroot }}</chroot>
        {% if icecast_security_changeowner_user is defined and icecast_security_changeowner_group is defined %}
        <changeowner>
            <user>{{ icecast_security_changeowner_user }}</user>
            <group>{{ icecast_security_changeowner_group }}</group>
        </changeowner>
        {% endif %}
    </security>
</icecast>